.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 70%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 35%
    right: 5%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 20%
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 41%
    right: 80%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 400px !important  

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.bg-color
  &-1
    background-color: #CBF4EB !important
  &-2
    background-color: #FEEAD2 !important

.bloque-texto-g__img
  background-color: #E8E8E8
  img
    margin-top: 2rem !important


.card-cualidad
  background-color: #f4f2f8
  border: 2px solid #d6cdea
  border-radius: 20px
  padding: 20px 0
  text-align: center
  display: flex
  justify-content: center
  align-items: center
  height: 120px
  flex: 1
  font-weight: 500
  color: #2c3e50
  transition: all 0.3s ease

.row.g-3
  display: flex
  flex-wrap: wrap
  gap: 1rem

.col-auto
  flex: 1 1 calc(16.66% - 1rem)
  min-width: 150px

.titulo-principal__numero
  font-size: 24px
  font-weight: bold

.titulo-principal h1
  font-size: 36px

.titulo-segundo
  font-size: 28px
  font-weight: 600px

// Carousel Styles
.carousel-bg .fas
  &.fa-chevron-left, &.fa-chevron-right
    display: inline-flex
    align-items: center
    justify-content: center
    width: 40px
    height: 40px
    background-color: $color-acento-contenido
    border-radius: 50%
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
    color: #000
    font-size: 16px

  @media screen and (max-width: $bp-max-md)
    background-color: transparent !important
    box-shadow: none !important
    font-size: 20px !important

.bordes
  border: 1px solid #CBD5E0 !important


.acordion__accion__btn--a
  background-color: $color-acento-botones
.acordeonA
  position: relative
  background-color: #003F62
  width: 100%
  @media screen and (max-width: 1200px)
    width: 100%
  p
    padding-left: 3.5rem
.acordion__titulo
  h3
    color: white !important
.acordion__activo
  background-color: #CBD8DF
  h3
    color: $color-sistema-texto !important
  p
    padding-left: 4.4rem



.tabs-c__tab--active
  font-weight: bold
.tabs-c__content-item
  background-color: #E4EAEE
  padding: 2rem
.tabs-c
  border-bottom: none !important


.tarjeta--boton
  background-color: #CBD8DF
.tarjeta--boton:hover
  background-color: #FED5A7


  //CLASES TITULOS//
.titulo-con-imagen
  display: flex
  align-items: center
  position: relative
.titulo-con-imagen__fondo
  background-color: $color-acento-contenido
  border-radius: 10px
  padding: 10px 20px
  display: inline-flex
  align-items: center
.titulo-con-imagen__imagen
  position: absolute
  left: -20px
  width: 50px
.titulo-con-imagen__texto
  margin: 0
  padding-left: 20px

.bg-fondo
  &-1
    background-image: url("../assets/curso/tema1/fondo-carrusel.png") !important
    background-position: top
