.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 70%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 35%
    right: 5%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 20%
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 41%
    right: 80%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 400px !important  

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.bg-color
  &-1
    background-color: #CBF4EB !important
  &-2
    background-color: #FEEAD2 !important

.bloque-texto-g__img
  background-color: #E8E8E8
  img
    margin-top: 2rem !important


.card-cualidad
  background-color: #f4f2f8
  border: 2px solid #d6cdea
  border-radius: 20px
  padding: 20px 0
  text-align: center
  display: flex
  justify-content: center
  align-items: center
  height: 120px
  flex: 1
  font-weight: 500
  color: #2c3e50
  transition: all 0.3s ease

.row.g-3
  display: flex
  flex-wrap: wrap
  gap: 1rem

.col-auto
  flex: 1 1 calc(16.66% - 1rem)
  min-width: 150px

.titulo-principal__numero
  font-size: 24px
  font-weight: bold

.titulo-principal h1
  font-size: 36px

.titulo-segundo
  font-size: 28px
  font-weight: 600