.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 70%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 35%
    right: 5%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 20%
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 41%
    right: 80%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 400px !important  

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.bg-color
  &-1
    background-color: #CBF4EB !important
  &-2
    background-color: #FEEAD2 !important
  &-3
    background-color: #FDF0AC !important
  &-4
    background-color: #E8E2F3 !important
  &-5
    background-color: #CBF4EB !important
  &-6
    background-color: #AD9721 !important
  &-7
    background-color: #FAE5EA !important
  &-8
    background-color: #E5f9f5 !important    
  &-9
    background-color: #F3F0F9 !important
  &-10
    background-color: #F6F6F6 !important
  &-11
    background-color: #FED401 !important
  &-12
    background-color: #F8DA30 !important 
  

.bloque-texto-g__img
  background-color: #E8E8E8
  img
    margin-top: 2rem !important


.card-cualidad
  background-color: #f4f2f8
  border: 2px solid #d6cdea
  border-radius: 20px
  padding: 20px 0
  text-align: center
  display: flex
  justify-content: center
  align-items: center
  height: 120px
  flex: 1
  font-weight: 500
  color: #2c3e50
  transition: all 0.3s ease

.row.g-3
  display: flex
  flex-wrap: wrap
  gap: 1rem

.col-auto
  flex: 1 1 calc(16.66% - 1rem)
  min-width: 150px

.titulo-principal__numero
  font-size: 24px
  font-weight: bold

.titulo-principal h1
  font-size: 36px

.titulo-segundo
  font-size: 16px
  font-weight: 600px

// Carousel Styles
.carousel-bg .fas
  &.fa-chevron-left, &.fa-chevron-right
    display: inline-flex
    align-items: center
    justify-content: center
    width: 40px
    height: 40px
    background-color: $color-acento-contenido
    border-radius: 50%
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
    color: #000
    font-size: 16px

  @media screen and (max-width: $bp-max-md)
    background-color: transparent !important
    box-shadow: none !important
    font-size: 20px !important

.bordes
  border: 1px solid #CBD5E0 !important


.acordion__accion__btn--a
  background-color: $color-acento-botones
.acordeonA
  position: relative
  background-color: #003F62
  width: 100%
  @media screen and (max-width: 1200px)
    width: 100%
  p
    padding-left: 3.5rem
.acordion__titulo
  h3
    color: white !important
.acordion__activo
  background-color: #CBD8DF
  h3
    color: $color-sistema-texto !important
  p
    padding-left: 4.4rem



.tabs-c__tab--active
  font-weight: bold
.tabs-c__content-item
  background-color: #E4EAEE
  padding: 2rem
.tabs-c
  border-bottom: none !important


.tarjeta--boton
  background-color: #CBD8DF
.tarjeta--boton:hover
  background-color: #FED5A7


.titulo-con-imagen
  display: flex
  align-items: center
  position: relative
.titulo-con-imagen__fondo
  background-color: $color-acento-contenido
  border-radius: 10px
  padding: 10px 20px
  display: inline-flex
  align-items: center
.titulo-con-imagen__imagen
  position: absolute
  left: -20px
  width: 50px
.titulo-con-imagen__texto
  margin: 0
  padding-left: 20px

.titulo-purpura
  display: flex
  align-items: center
  position: relative
  background-color: #C6B7E2 
  border-radius: 10px
  padding: 10px 20px
  display: inline-flex
  align-items: center
  margin: 0
  padding-left: 20px


.bg-fondo
  &-1
    background-image: url("../assets/curso/tema1/fondo-carrusel.png") !important
    background-position: top

  


.card 
  display: flex;
  flex-direction: column;
  flex: 1; 
  height: 100%; 
  margin: 10px; 
  border: 0px


.card-body 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  padding: 1rem;
  text-align: center; 
  height: 100%; 
  background-color: #FDF7D4

.card-img-top 
  max-height: 200px; 
  object-fit: cover; 


.card-title 
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;


.card-text 
  font-size: 1rem;
  color: #555;
  margin-bottom: 0;

.bg-fondo
  &-slider
    background-image: url("../assets/curso/portada/fondo-banner-principal.png") !important
    background-position: bottom


.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #FF9800 !important
.slyder-a__bullets__item--active 
  background-color: #589F8F !important
  border-color: #589F8F
.slyder-a__bullets__item
  background-color: #589F8F
  border: 1px solid #589F8F
.bloque-texto-b.color-secundario:before
  background-color: #CBE7E8
.acordion__accion__btn--a
  background-color: #FED401 !important
.acordion__activo
  background-color: #E6DCFB !important
.acordion_titulo
  color: #fff !important
.tarjeta-numerada.color-primario
  border-color: #F3F0EA
  background-color: #F3F0EA
.tarjeta-numerada.color-primario .tarjeta-numerada__numero
  background-color: #FD9826
.tarjeta-numerada__numero
  top: 35%



.tarjeta.acordeonA
  background-color: #625A70

.acordion__accion__btn--a
  background-color: #FF9800 !important

.acordion__activo
  background-color: #FDF0AC !important


.tabla-a.color-acento-botones thead
  border-color: $color-acento-contenido
  background-color: $color-acento-contenido !important
.tabla-a th, table td 
  text-align: start
.banner-principal__row .banner-principal__img
  width: 500px !important
.separador__tabla
  background-color: #F6F6F6


.tabla-a table 
  min-width: 100% !important;
  table-layout: auto; 

.tabla-a 
  overflow-x: visible !important; 

.tabla-a
  table
    tbody
      tr:nth-child(odd)
        background-color: #F6F6F6
      tr:nth-child(even)
        background-color: #FFFFFF 
  



.bg-color-soft-yellow
  background-color: #FFFAD8 
  

.br-15
  border-radius: 15px


.lista-ul--color i
  color: #D2A612 
  font-size: 0.9em
  margin-right: 10px


.align-items-stretch
  display: flex
  flex-wrap: wrap


.custom-fade-row
  display: flex
  flex-wrap: wrap
  overflow: hidden
  
.col-lg-5 img
  width: 100%
  height: 100%
  object-fit: cover





  
.bg-color-yellow
  background-color: #FEE771


.bg-white
  background-color: #FFFFFF

.br-10
  border-radius: 10px
.br-5
  border-radius: 5px


.row.align-items-stretch
  display: flex

  
.crd_hover_txt
  position: relative  
  padding: 0 !important
  overflow: hidden !important 
  &:hover    
    .crd_hover_txt--body   
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)

  .crd_hover_txt--body
    position: absolute
    padding: 1.5rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #625a70
    color: #FFF
  
  @media (min-width:1200px) and (max-width:1400px)  
    .crd_hover_txt--body
      p
        font-size: 0.85em




.bg-color-purple-light
  background-color: #ECE9F7


.text-accent
  color: #D4AF37 


.br-15
  border-radius: 15px


.lista-ul--separador li
  border-bottom: none 



.bg-color-dark-purple
  background-color: #6A5D7B
  border: 2px solid #4D90FE


.bg-color-purple-light
  background-color: #ECE9F7


.text-gold
  color: #D4AF37


.br-15
  border-radius: 15px
.br-10
  border-radius: 10px


.align-items-stretch
  display: flex
  align-items: stretch